body {
  background: url(https://png.pngtree.com/thumb_back/fw800/background/20201017/pngtree-low-poly-geometric-background-of-pink-and-blue-triangles-image_420740.jpg)
    no-repeat fixed;
  background-size: cover;
}
label,
h3 {
  background-clip: text;
  background-image: linear-gradient(
    to right,
    violet,
    darkorchid,
    dodgerblue,
    green,
    orange,
    yellow,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: linear-gradient(
    to right,
    violet,
    darkorchid,
    dodgerblue,
    green,
    orange,
    yellow,
    red
  );
}
#inputs {
  background: rgba(0, 0, 0, 0.35);
  /* height: 600px;
  width: 600px; */
  margin: 1rem auto;
  left: 100px;
  /* position: absolute; */
  border: 3px solid;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
}
#container {
  background: rgba(0, 0, 0, 0.35);
  height: 600px;
  width: 600px;
  margin: 1rem auto;
  left: 75px;
  position: absolute;
  border: 3px solid;
  border-radius: 5px;
  overflow: hidden;
}
#configure {
  display: flex;
  flex-direction: column;
  /* color: white; */
  background: rgba(0, 0, 0, 0.35);

  height: 600px;
  width: 300px;
  margin-top: 1rem;
  position: absolute;
  left: 725px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 1rem;
}
